@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');
.switch{
    input{
      display: none;
      &:checked ~ label{
        border-color:$primary;
        &::after{
          translate: 30px 0;
          background: $primary;
        }
      }
    }
    label{
      display: block;
      width: 50px;
      height: 20px;
      padding: 3px;
      border-radius: 25px;
      border: 2px solid $secondary;
      cursor: pointer;
      transition: .3s;
      &::after{
        content: "";
        display: inherit;
        width: 20px;
        height: 20px;
        border-radius: 12px;
        background: $secondary;
        transition: .3s;
      }
    }
  }