@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap');
body{
  *,
  *:hover{
    cursor:none;
  }
  @media screen and (min-width: 1199px) {
    #customCursor{
      z-index: 300;
      width: 20px;
      height: 20px;
      position: fixed;
      border-radius: 50%;
      pointer-events: none;
      background-size: contain;
      background-color: #1A1D21;
      background-position: center;
      transform: translate(-50%,-50%);
      transition: background-image .3s, transform .3s;
      background-image: url(../src/imgs/CURSOR-DEFAULT.svg);
      &.hoveringLink{
        background-image: url(../src/imgs/CURSOR-LINK.svg);

        transform:scale(1.2)translate(-50%,-50%);
      }
    }
  }
}
.switch{
  input{
    display: none;
    &:checked ~ label{
      border-color:$primary;
      &::after{
        translate: 30px 0;
        background: $primary;
      }
    }
  }
  label{
    width: 50px;
    height: 20px;
    padding: 3px;
    display: block;
    transition: .3s;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid $secondary;
    &::after{
      content: "";
      width: 20px;
      height: 20px;
      transition: .3s;
      display: inherit;
      border-radius: 12px;
      background: $secondary;
    }
  }
}
#criacao{
  padding: 180px 0;
  min-height: unset;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../src/imgs/MARGEM-CRIACAO-SITES.svg");
}
section{
  .titulo{
    h2{
      margin-top: 0;
      font-size: 5rem;
      font-weight: 600;
    }
    h3{
      font-size: 3rem;
      margin-bottom: 0;
    }
  }
  .content{
    h4{
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 600;
    }
    p{
      margin: 1rem 0;
      font-weight: 200;
      font-size: 1.7rem;
    }
  }
}
.box-criacao{
  .titulo{
    text-align: center;
    margin-bottom: 70px;

  }
}
.grid-4{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
  grid-auto-rows:25rem;
  @media screen and (max-width:950px) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}

