$primary: #78EC6E;
$primaryContrast: #31783C;
$secondary: #131313;
$secondaryContrast: #FFFFFF;
$tertiary: #F1F7F7;
$tertiaryContrast: #131313;

$gradient: linear-gradient(101.01deg, #1A1D21 0%, #24292C 100%);
$fundoSessao: #222222;
$fundoCard: #151819;
$success: #5DFF5A;
$contrasteSuccess:#8C7AFF;
$error: #FF5C5C;
