@import "layout";
html{
  body{
    margin: 0;
    color:$secondary;
    overflow-x: hidden ;
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: 'Inter', sans-serif;
    background-image: url('../src/imgs/bg-BRANCO.png');
    &.darkTheme{
      color:$tertiary;
      background-size: 100%;
      background-repeat: repeat-y;
      background-image: url('../src/imgs/bg-DARK.png');
    }
    &:not(.darkTheme) #loadScreen{
      background-image: url('../src/imgs/bg-BRANCO.png');
    }
    section{
      &#topo{
        margin-top: 91px;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: calc(100vh - 91px);     
        background-position: center center;
        background-image: url('../src/imgs/bg-1.png');
        .container,
        .d-flex{
          flex-wrap: wrap;
          min-height: inherit;
        }
        h2{
          width: 100%;
          margin: 116px 0 0;
          position: relative;
          text-align: center;
          width: fit-content!important;
          span{
            z-index: 20;
            position: relative;
          }
        }
        h1{
          width: 100%;
          text-align: center;
          span{
            display: block;
            letter-spacing: .12em;
            transform: translateX(5px);
          }
        }
      }
      &#criacao,
      &#especialidades,
      &#portifolio,
      &#avaliacoes,
      &#duvida,
      &#contato{
        padding: 180px 0;
        min-height: unset;
      }
      &#criacao{
        &.bg-custom{
          .container{
            position: relative;
            &::after,
            &::before{
              content: '';
              top: 50%;
              width: 300px;
              overflow: hidden;
              position: absolute;
              min-height: 300px;
              background-size: cover;
              transform: translateY(-50%);
              background-image: url("../src/imgs/MARGEM-CRIACAO-SITES.svg");
            }
            &::after{
              right: 0;
              transform: translateY(-50%)rotateY(180deg);
            }
            .content{
              position: relative;
              z-index: 10;
              .slider-default{
                padding: 0 3px;
              }
            }
          }
        }
      }
      &#especialidades,
      &#avaliacoes,
      &#contato{
        position: relative;
        .section-content{
          background-position: center center;
          background-size: contain;
          background-repeat: repeat-y;
          padding: 5px 0;
          overflow: unset;  
        }
        min-height: unset;
        &::before,
        &::after{
          content: '';
          width: 100%;
          background-size: 100%;
          position: absolute;
          background-repeat: no-repeat;
          z-index: -1;
        }
        &::before{
          background-position: center bottom;
          left: 0;
          top: 0;
          transform: translateY(0);
        }
        &::after{
          background-position: center top;
          left: 0;
          bottom: 0;
          transform: translateY(0);
        }
      }
      &#especialidades{
        .section-content{
          background-image: url('../src/imgs/bg-DARK.png');
        }
        color:$secondaryContrast;
        &::before,
        &::after{
          height: 180px;
        }
        &::before{
          background-image: url('../src/imgs/section-border-top.png');
        }
        &::after{
          background-image: url('../src/imgs/section-border-bottom.png');
        }
        .grid-3{
          gap: 50px;
          flex-wrap: wrap;
          &:hover{
            .item:not(:hover){
              opacity: .6;
            }
          }
          .item {
            width: calc(33% - 100px);
            transition: opacity .3s ease-in-out;
            .img-box{
              height: 141px;
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              align-items:flex-end;
              margin-bottom: 20px;
            }
          }
        }
      }
      &#portifolio{
        padding: 0;
        margin: 10rem 0;
        position: relative;
        z-index: 2;
        &::after{
          content: "";
          top: 0;
          right: 5%;
          height: 10px;
          position: absolute;
          width: calc(100% / 4);
          transform: translate(0, 300%);
          background-image: $gradientGreen;
        }
        .content{
          position: relative;
          &::after,
          &::before{
            content: "";
            position: absolute;
            top: 50%;
          }
          &::before{
            background-image: url('../src/imgs/MARGEM-ESQUERDA.svg');
            transform: translate(-50%, -50%);
            width: 20px;
            height: 315px;
            left: 15px;
            z-index: 1;
          }
          &::after{
            background-image: url('../src/imgs/MARGEM-DIREITA.svg');
            transform: translate(10%, -55%);
            width: 262px;
            height: 421px;
            right: -15px;
            z-index: -1;
          }
        }
        .slick-list.draggable{
          background-size: 100%;
          padding: 20px;
          background-repeat: repeat-y;
          background-image: url('../src/imgs/bg-DARK.png');
        }
        .hoverMarcas{
          margin: auto;
          width: 300px;
          height: 300px;
          position: relative;
          
          .showOnHover{
            top: 50%;
            left: 50%;
            opacity: 0;
            width: 100%;
            height: calc(100% - 4px);
            padding: 0 15px;
            flex-wrap: wrap;
            text-align: left;
            position: absolute;
            align-items: center;
            color: $secondaryContrast;
            border: 2px solid $primary;
            background-color: $secondaryTransparent;
            transform: translate(-50%, -50%);
            transition: opacity .3s ease-in-out;
            *{
              width: 100%;
            }
          }
          &:hover{
            .showOnHover{
              opacity: 1;
            }
          }
        }
      }
      &#avaliacoes{
        padding: 26rem 0;
        .section-content{
          background-image: url('../src/imgs/bg-CINZA.png');
        }
        &::before,
        &::after{
          height: 33rem;
        }
        &::before{
          background-image: url('../src/imgs/section-2-border-top.png');
        }
        &::after{
          background-image: url('../src/imgs/section-2-border-bottom.png');
        }
      }
      &#duvida{
        padding: 0;
      }
      &#contato{
        .section-content{
          background-image: url('../src/imgs/bg-VERDE.png');
        }
        color:$secondaryContrast;
        padding: 22rem 0 0;
        &::before{
          height: 22rem;
        }
        &::before{
          background-image: url('../src/imgs/section-3-border-top.png');
        }
        .titulo{
          text-align: left;
        }
      }
    }
  }
}

@media screen and (max-width:1199px){
  html{
    body{
      section{
        .container{
          width: 95%;
        }
        &#portifolio{
          margin: 0;
        }
        &#avaliacoes,
        &#contato{
          padding: 12rem 0;
          &::after,
          &::before{
            height: 15rem;
          }
        }
        &#contato{
          padding: 11.5rem 0 0;
          &::before{
            height: 12rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1024px) {
  html{
    body{
      section{
        &#criacao{
          padding: 7rem 0 0;
          &.bg-custom{
           .container{
            width: 90%;
            margin: auto;
            &::after,
            &::before{
              min-height: 350px;
              background-image: url("../src/imgs/MARGEM-CRIACAO-SITES-MOB.svg");
            }
           }
          }
        }
        &#especialidades{
          &::after,
          &::before{
            height: 7rem;
          }
          padding: 7rem 0;
          .grid-3{
            .item {
              width: calc(50% - 60px);
            }
          }
        }
        &#portifolio{
          margin: 0;
          &::after{
            right: 0;
          }
        }
        &#avaliacoes{
          &::after,
          &::before{
            height: 12rem;
          }
          padding: 12rem 0;
        }
      } 
    } 
  }
}
@media screen and (max-width:768px) {
  html{
    body{
      section{
        &#topo{
          margin-top: 0;
        }
        &#especialidades,
        &#avaliacoes,
        &#contato{
          padding: 8rem 0;
          &::before,
          &::after{
            height: 8rem;
          }
        }
        &#especialidades{
          .grid-3{
            .item {
              width: 80%;
            }
          }
        }
        &#portifolio{
          &::after{
            transform: translate(0, 100%);
          }
        }
        &#contato{
          padding: 8rem 0 0;
        }
      }
    }
  }
}

