@import "themeDefault";
@import "layout";
html{
  font-size:62.5%;
  body{
    margin: 0;
    color:$secondary;
    overflow-x: hidden ;
    background-size: 100%;
    background-repeat: repeat-y;
    font-family: 'Inter', sans-serif;
    background-image: url('../src/imgs/bg-BRANCO.png');
    &.darkTheme{
      color:$tertiary;
      background-size: 100%;
      background-repeat: repeat-y;
      background-image: url('../src/imgs/bg-DARK.png');
    }
    /*Estilos da barra de rolagem*/
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: $primaryContrast;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $primary;
    }
    /*Fim dos estilos da barra de rolagem*/
    #loadScreen{
      top: 0;
      left: 0;
      opacity: 1;
      z-index: 300;
      width: 100vw;
      display: flex;
      height: 100vh;
      position: fixed;
      align-items: center;
      background-size: 100%;
      transition: opacity .3s;
      justify-content: center;
      background-image: url('../src/imgs/bg-DARK.png');
      &.loaded{
        opacity: 0;
      }
      .loadbar{
        width: 157px;
        height: 247px;
        display: block;
        background-position: center 0;
        animation: load 3s linear forwards;
        background-image: url('../src/imgs/loadbar.png');
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-image: url('../src/imgs/mascaraCentelha.svg');
        -webkit-mask-image: url('../src/imgs/mascaraCentelha.svg');
      }
    }
    &:not(.darkTheme) #loadScreen{
      background-image: url('../src/imgs/bg-BRANCO.png');
    }
    .container{
      margin:auto;
      max-width: 1200px;
    }
    .d-flex{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
    .flutuante{
      z-index: 200;
      position: fixed;
      transition: padding .3s;
      box-shadow: $primaryContrast 0 2px 10px;
      &:hover{
        padding: 15px 15px 20px;
      }
      &-br{
        bottom: 0;
        right: 8px;
      }
      &-bg1{
        display: block;
        background: $primary;
        padding: 15px 15px 10px;
        img{
          filter: brightness(300%) grayscale(1);
        }
      }
      &-bl{
        bottom: 0;
        left: 8px;
      }
    }
    .hide{
      transition: all .3s;
      transform: translateY(100%);
      &.show{
       transform: translateY(0);
      }
    }
    header{
      top: 0;
      left: 0;
      width: 100%;
      z-index: 200;
      position: fixed;
      padding: 10px 0;
      background-size: cover;
      background-image: url('../src/imgs/bg-DARK.png');
      .d-flex{
        transform: translateX(-3%);
      }
      a{
        color: $tertiary;
        text-decoration: none;
        transition: text-shadow 300ms;
        font-size: 2.4rem;
        &:hover{
          text-shadow: 0 0 6px $primary;
        }
      }
      div{
        img{
          width: 30px;
        }
      }
    }
    section{
      min-height: 100vh;
      &#topo{
        margin-top: 91px;
        background-size: contain;
        background-repeat: no-repeat;
        min-height: calc(100vh - 91px);     
        background-position: center center;
        background-image: url('../src/imgs/bg-1.png');
        .container,
        .d-flex{
          min-height: inherit;
        }
        .d-flex{
          flex-wrap: wrap;
          *{
            width: 100%;
            text-align: center;
          }
        }
        h2{
          font-size: 70px;
          font-weight: 600;
          margin: 116px 0 0;
          position: relative;
          width: fit-content!important;
          span{
            z-index: 20;
            position: relative;
          }
        }
        h1{
          font-size: 50px;
          font-weight: 200;
          span{
            display: block;
            letter-spacing: .12em;
            transform: translateX(5px);
          }
        }
        #scroll{
          width: 100px;
          display: block;
          cursor: pointer;
          text-align: center;
          position: relative;
          i{
            bottom: 0;
            left: 50%;
            opacity: 0;
            width: 48px;
            height: 48px;
            display: block;
            position: absolute;
            border-left: 3px solid $tertiary;
            border-bottom: 3px solid $tertiary;
            animation: fadeinOut 2s 0.5s infinite linear;
            transform: rotate(-45deg) skew(17deg, 17deg) translate(-25%, -25%);
            &:first-child{
              border-left: 3px solid $primaryContrast;
              border-bottom: 3px solid $primaryContrast;
              animation: fadeinOut 2s 0s infinite linear;
              transform: rotate(-45deg) skew(17deg, 17deg) translate(5%, -55%);
            }
            &:last-child{
              border-left: 3px solid $primaryContrast;
              border-bottom: 3px solid $primaryContrast;
              animation: fadeinOut 2s 1s infinite linear;
              transform: rotate(-45deg) skew(17deg, 17deg) translate(-55%, 5%);
            }
          }
        }
      }
    }
  }
}


.glitch:after{
  content:attr(data-text);
  top:0;
  left:0;
  color:black;
  overflow:hidden;
  position:absolute;
  clip:rect(0,900px,0,0);
  background:transparent;
  transform: translateX(2px);
  text-shadow:-1px 0 $success;
  animation:noise-anim 2s infinite linear alternate-reverse;
}
.glitch:before{
  content:attr(data-text);
  top:0;
  left:-2px;
  color:black;
  overflow:hidden;
  position:absolute;
  clip:rect(0,900px,0,0);
  background:transparent;
  text-shadow:1px 0 $contrasteSuccess;
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

@keyframes load{
  0%{
    opacity: 0;
    background-position: center 0;
  }
  20%{
    opacity: 1;
    background-position: center 0;
  }
  80%{
    background-position: center 100%;
  }
  95%{
    opacity: 1;
    transform: scale(1);
  }
  100%{
    opacity: 0;
    background-position: center 100%;
    transform: scale(1.2);
  }
}
@keyframes fadeinOut{
  0%{opacity: 0;}
  50%{opacity: 0;}
  75%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}